# Compiled python code
~.pyc
**.pyc

# Mac files
.DS_Store
**/.DS_Store

# User-specific Idea / Pycharm files
.idea/*

# Large assets
resources/20_newsgroup/*
resources/compressed/*
resources/GoogleNews-vectors-negative300.bin